@media all and (max-width:1315px){
    .slider-container{
        min-width: 95%;
        min-height: 39vw;
    }
    .slider-img{
        height: 41vw;
    }
    .Jane-doe-image{
        width: 440px;
        height: 500px;
    }
    .portret-container{
        margin-left: 40px;
        margin-right: 90px;
    }
    .AboutMe{
        margin-top: 32px;
    }
    .portret-purpur-block{
        width: 50px;
        height: 50px;
        border-radius: 13px;
        left: -30px;
        bottom: 80px;
    }
    .portret-pink-block{
        width: 90px;
        height: 90px;
        border-radius: 18px;
        bottom: -40px;
        left: -25px;
    }
    .third-line{
        width: 90%;
        max-width: 976px;
    }
}
@media all and (max-width:1000px){
    .slider-container{
        width: 95%;
    }
    .menu-list{
        display: none;
    }
    header{
        justify-content: center;
        margin-right: 0;
        margin-left: 0;
    }
    .portret-block{
        padding-top: 5%;
    }
    .portret-container{
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    .portret-background{
        border-radius: 0;
    }
    .JaneDoe-text-block{
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .portret-purpur-block{
        transform: rotate(-68deg);
        left: 375px;
        bottom: 85px;
    }
    .portret-pink-block{
        transform: rotate(51deg);
        border-radius: 18px;
        bottom: -35px;
        left: 340px;
    }
}
@media all and (max-width:800px){
    footer{
        padding-top: 32px;
    }
    .slider-container{
        width: 95%;
        height: 535px;
    }
    .slider-img{
        width: 1312px;
        height: 535px;
    }
    .blured-input-block1{
        display: none;
    }
    .blured-input-block2{
        display: none;
    }
    .blured-input-block3{
    display: none;
    }
    .fioletGray-input-block{
        display: none;
    }
    .fiolet-input-block{
        width: 32px;
        height: 32px;
        border-radius: 10px;
        bottom: initial;
        top: 80px;
        transform: rotate(141deg);
        right: 150px;
    }
    .pink-input-block{
        width: 56px;
        height: 56px;
        border-radius: 16px;
        bottom: initial;
        top: 20px;
        transform: rotate(-98deg);
        right: 70px;
    }
    .extraBold-40{
        font-size: 32px;
    }
    .extraBold-56{
        font-size: 40px;
    }
    .extraBold-27{
        font-size: 20px;
    }
    .regular-18{
        font-size: 14px;
    }
    .bold-16{
        font-size: 14px;
    }
    .medium-16{
        font-size: 14px;
    }
    .medium-16{
        font-size: 14px;
    }
    .third-line{
        flex-direction: column ;
        height: initial;
    }
    .gilroy-medium-16{
        line-height: 24px;
    }
    #loadText{
        margin-top: 27px;
        text-align: center;
        padding: 0 100px;
    }
    #loadBtn{
        margin-top: 16px;
        margin-bottom: 27px;
    }
@media all and (max-width:500px){
    .absolute-points{
        bottom: 6%;
    }
    .slider-tick-right{
        bottom: 5%;
    }
    .slider-tick-left{
        bottom: 5%;
    }
    .third-line{
        width: 389px;
    }
    #loadText{
        padding: 0 70px;
    }
    .main-container{
        padding-left: 14px;
    }
    .input-style{
        width: 348px;
    }
    .JaneDoe-text-block{
        margin-left: 14px;
        margin-right: 13px;
    }
    .Jane-doe-image{
        width: 90%;
        height: 79%;
    }
    header{
        height: 50px;
    }
    .spiral-image{
        height: 25px;
    }
    .portret-purpur-block{
        width: 32px;
        height: 32px;
        transform: rotate(-68deg);
        border-radius: 10px;
        left: initial;
        bottom: 55px;
        right: 30px;
    }
    .portret-pink-block{
        width: 56px;
        height: 56px;
        border-radius: 16px;
        bottom: -20px;
        left: initial;
        right: 30px;
    }
    .fiolet-input-block{
        top: 80px;
        right: 90px;
    }
    .pink-input-block{
        top: 20px;
        right: 20px;
    }
}