body{
  margin: 0;
  background: #f8f3ff;
  max-width: 100%;
}
ul{
  list-style-type: none;
  padding-inline-start: 0;
}
/*header*/
header{
  height: 96px;
  justify-content: space-between;
  margin-left: 64px;
  margin-right: 176px;
}
.spiral-image{
  height: 44px;
  margin-right: 4px;
}
.header-list li{
  margin-right: 32px;
}
/*portret block*/
.portret-block{
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.portret-background{
  background: white;
  position: absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: -1;
  border-radius: 337px 0/210px 0;
}
.portret-container{
  margin-left: 64px;
  margin-right: 176px;
}
.Jane-doe-image-container{
  position: relative;
}
.Jane-doe-image{
  width: 528px;
  height: 600px;
}

.JaneDoe-text-block{
  margin-left: 32px;
  margin-top: 44px;
}
.JD-info{
  margin-top: 24px;
}
.JD-info li{
  margin-right: 32px;
}
.AboutMe{
  margin-top: 64px;
}
.portret-purpur-block{
  position: absolute;
  width: 69px;
  height: 69px;
  border-radius: 16px;
  background: #8E43ED;
  transform: rotate(-112deg);
  bottom: 100px;
  left: -45px;
}
.portret-pink-block{
  position: absolute;
  width: 121px;
  height: 121px;
  border-radius: 24px;
  background: #F18BC3;
  transform: rotate(128deg);
  bottom: -55px;
  left: -40px;
}

/*main*/
.main-container{
  padding-left: 64px;
  margin-top: 56px;
  min-height: 750px;
  position: relative;
  overflow: hidden;
}
.tellus{
  padding-right: 150px;
}
.input-style{
  width: 304px;
  height: 56px;
  padding: 0 21px;
  border-radius: 12px;
  background: white;
  border: 1px solid #D9BBFF;
  margin-right: 32px;
  margin-top: 8px;
}
.input-focus,
.input-style:focus{
  outline: 0;
  border: 1px solid #8E43ED;
}
.input-margin{
  margin-top: 40px;
}
.input-container{
  margin-bottom: auto;
}

.main-button{
  width: 211px;
  height: 56px;
  border-radius: 12px;
  background: #DED9E4;
  border: transparent;
  cursor: pointer;
  margin-bottom: 48px;
}
.active-main-btn{
  background: #8E43ED;
}
.gender-choiser{
  cursor: pointer;
  position: relative;
}
.gender-male,
.gender-female{
  position: absolute;
  left: 0;
}
.gender-male{
  top: 50px;
}
.gender-female{
  top: 109px;
}
/*Вторая скрытая строчка*/
.second-line{
  
}
/*Третья скрытая строка*/
.third-line{
  margin-top: 56px;
  width: 976px;
  height: 104px;
  background: white;
  border-radius: 12px;
  border: 2px dashed #D9BBFF;
}
.add-doc-btn{
  width: 212px;
  height: 56px;
  border: 1px solid #8E43ED;
  border-radius: 12px;
  margin-left: 16px;
  cursor: pointer;
}
/*Загруженные файлы*/
#photoArea{
  margin-top: 8px;
}
.file-box{
  width: 256px;
  height: 56px;
  margin-bottom: 50px;
  border-radius: 12px;
  border: 1px solid #D9BBFF;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.image-circle{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-left: 12px;
}
.file-attributes{
  margin-left: 8px;
  align-self: flex-start;
  margin-top: 9px;
  margin-right: auto;
}
.can-prop{
  width: 8px;
  height: 9px;
  margin-right: 17px;
  cursor: pointer;
}
/*Кубики*/
.blured-input-block1{
  position: absolute;
  width: 167px;
  height: 167px;
  border-radius: 32px;
  background: #F2E9FF;
  transform: rotate(165deg);
  bottom: 560px;
  left: -100px;
  z-index: -1;
}
.blured-input-block2{
  position: absolute;
  width: 116px;
  height: 116px;
  border-radius: 16px;
  background: #F2E9FF;
  transform: rotate(132deg);
  bottom: 500px;
  left: 170px;
  z-index: -1;
}
.blured-input-block3{
  position: absolute;
  width: 293px;
  height: 293px;
  border-radius: 32px;
  background: #F2E9FF;
  transform: rotate(132deg);
  bottom: 70px;
  left: -100px;
  z-index: -1;
}
.fiolet-input-block{
  position: absolute;
  width: 167px;
  height: 167px;
  border-radius: 32px;
  background: #8E43ED;
  transform: rotate(15deg);
  bottom: 500px;
  right: -30px;
  z-index: -1;
}
.fioletGray-input-block{
  position: absolute;
  width: 116px;
  height: 116px;
  border-radius: 16px;
  background: #E0CFF8;
  transform: rotate(47deg);
  bottom: 420px;
  right: 180px;
  z-index: -1;
}
.pink-input-block{
  position: absolute;
  width: 293px;
  height: 293px;
  border-radius: 32px;
  background: #F18BC3;
  transform: rotate(30deg);
  bottom: 50px;
  right: -40px;
  z-index: -1;
}

/*footer*/
footer{
  position: relative;
  padding-top: 56px;
  padding-bottom: 56px;
  background: white;
}
.slider-container{
  background: gray;
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  min-width: 1312px;
  min-height: 535px;
  z-index: 1;
}
.slider-img{
  width: 100%;
}
.footer-text-container{
  position: relative;
  max-width: 600px;
  padding: 0 100px;
  z-index: 2;
  text-align: center;
  color: white;
}
.absolute-points{
  position: absolute;
  bottom: 20px;
  z-index: 3;
}
.point{
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid white;
  margin-right: 12px;
}
.point-fill{
  background: white;
}
.slider-tick-right{
  position: absolute;
  right: 50px;
  bottom: 50%;
  z-index: 4;
  cursor: pointer;
}
.slider-tick-left{
  position: absolute;
  left: 50px;
  bottom: 50%;
  z-index: 4;
  cursor: pointer;
}
.slider-tick-left img{
  transform: rotate(180deg);
}
.slider-transition{
  transition: transform .6s ease; 
}
.slidedObject{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.active{
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-offset{
  transform: translateX(100%);
}
.left-offset{
  transform: translateX(-100%);
}
