@font-face {
    font-family: "Montserrat-Regular";
    src: url("/Fonts/Montserrat-Regular.ttf");
   }
@font-face {
    font-family: "Montserrat-bold";
    src: url("/Fonts/Montserrat-Bold.ttf");
   }
@font-face {
    font-family: "Montserrat-ExtraBold";
    src: url("/Fonts/Montserrat-ExtraBold.ttf");
   }
@font-face {
    font-family: "Montserrat-Medium";
    src: url("/Fonts/Montserrat-Medium.ttf");
   }
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("/Fonts/Montserrat-SemiBold.ttf");
   }
@font-face {
    font-family: "Gilroy-Medium";
    src: url("/Fonts/Gilroy-Medium.ttf");
}
/*Общие*/
.d-f{
    display: flex;
}
.jc-sb{
    justify-content: space-between;
}
.jc-c{
    justify-content: center;
}
.ai-c{
    align-items: center;
}
.fd-c{
    flex-direction: column;
}
.fw-w{
    flex-wrap: wrap;
}
.fg-1{
    flex-grow: 1;
}
.fiolet-color-light{
    color: #AA7ECD;
}
.fiolet-color{
    color: #8E43ED;
}
.gray-color{
    color: gray;
}
.white-color{
    color: white;
}
.hidden{
    display: none;
}


/*Текстовые стили*/
.bold-16{
    font-family: Montserrat-bold;
    font-size: 16px;
}
.extraBold-56{
    font-family: Montserrat-ExtraBold;
    font-size: 56px;
}
.extraBold-40{
    font-family: Montserrat-ExtraBold;
    font-size: 40px;
}
.extraBold-27{
    font-family: Montserrat-ExtraBold;
    font-size: 27px;
}
.semiBold-14{
    font-family: Montserrat-SemiBold;
    font-size: 14px;
}
.medium-16{
    font-family: Montserrat-Medium;
    font-size: 16px;
}
.medium-18{
    font-family: Montserrat-Medium;
    font-size: 18px;
}
.regular-18{
    font-family: Montserrat-Regular;
    font-size: 18px;
    line-height: 32px;
}
.regular-16{
    font-family: Montserrat-Regular;
    font-size: 16px;
}
.regular-14{
    font-family: Montserrat-Regular;
    font-size: 14px;
}
.regular-12{
    font-family: Montserrat-Regular;
    font-size: 14px;
}
.gilroy-medium-16{
    font-family: Gilroy-Medium;
    font-size: 16px;
    color: #9993BD;
}
